.Nav {
  Background-color: pink; }

footer {
  Background-color: pink;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; }

h1,
h2,
h3 {
  color: black; }

p {
  color: black; }

main {
  color: burlywood; }

li {
  color: black; }

div h2 {
  color: black; }
